<div class="container">
  <div class="row">
    <div class="col-md-6">

      <h1 id="headline">Order Information</h1>

      <div class="container">

        <h4><strong>Order ID: </strong><%= @order.id %></h4>
        <strong>Product Name: </strong><%= @order.product.name %>
        <strong>Product Price: </strong><%= number_to_currency(@order.product.price.to_f, unit: "€") %>
        <strong>Total Price: </strong><%= number_to_currency(@order.total.to_f, unit: "€") %>

      </div> <!-- End div container-->

    </div> <!-- End div col -->
  </div><!-- End div row -->
</div><!-- End div container -->

<br>
<br>
<%= link_to 'Back', orders_path, class: "btn btn-default"  %>
