<div class="product-reviews">
    <% @comments.each do |comment| %>
        <div class="row">
          <h5>
            <%= comment.user.first_name %> <small><em><%= "#{time_ago_in_words(comment.created_at)} ago" %></em></small>
            <% if signed_in? && current_user.admin? %>
              <%= link_to ('<span class="glyphicon glyphicon-remove"></span>').html_safe, product_comment_path(comment.product, comment), method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
         </h5>

          <h5><%= "Rating: #{comment.rating}/5" %></h5>
          <div class="rated" data-score="<%= comment.rating %>"></div>
          <h5><%= comment.body %></h5>
        </div>
    <% end %>
</div>
