<h2 id="headline"><%= @product.name %></h2>

<div class="row" data-product-id="<%= @product.id %>">
  <div class="col-sm-12 col-md-4">
    <%= image_tag(@product.image_url, class: "img-responsive img-zoom", data_zoom_image: @product.image_url) %>
  </div><!-- /image thumbnail -->
  <div class="col-sm-12 col-md-8">
    <h4><%= @product.description %></h4>
    <h4>
      <strong>Colour: </strong>
      <%= @product.colour %>
    </h4>

    <h4><%= number_to_currency(@product.price) %></h4>

    <%= link_to 'Edit', edit_product_path(@product) %> |
    <%= link_to 'Back', products_path %>
