<div class="container-fluid">

  <div class="show">
    <p id="notice"><%= notice %></p>

    <div class="row">

      <div class="col-sm-12 col-md-4">
        <%= link_to 'Back to Products', products_path, class: "btn btn-default" %>
        <br>
        <%= image_tag(@product.image_url) %>

      </div><!-- End div class col -->

      <div class="col-sm-12 col-md-8">
      <h4>
        <strong>Name:</strong>
        <%= @product.name %>
      </h4>

      <h4>
       <strong>Description:</strong>
        <%= @product.description %>
       </h4>

      <h4>
        <strong>Colour:</strong>
        <%= @product.colour %>
      </h4>

      <h4>
        <strong>Price:</strong>
        <%= @product.price %>
      </h4>

      <h4>Average Rating: <div class="rated" data-score="<%= @product.average_rating %>"></div> </h4>

     </div><!-- End div class col -->

    </div><!-- End div class row -->

    <hr>

    <%= render partial: "new_comment" %>
    <h4>Latest customers reviews: </h4>
    <%= render partial: "comments" %>

    <div class="pagination-container">
      <%=will_paginate @comments, renderer: BootstrapPagination::Rails %>
    </div>

    <br>

    <%= link_to 'Edit', edit_product_path(@product) , class: "btn btn-default" %>
    <%= link_to 'Back', products_path, class: "btn btn-default" %>

  </div><!-- End div class show -->

  <br>

</div><!-- End div class container fluid -->
